/* CSS Reset Code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Project Starting */

.wrapper{
    margin: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
}

nav{
        background-color: #222;
        padding: 40px;
        text-align: center;
    }

.logo{
    padding: 30px;
    background-color: #c78c06;
    text-align: left;
}
#home-button{
background-color: #c78c06;
color: black;
text-align: center;
height: 10px;
}

.sub-nav li{
margin: 30px;
color: #c78c06;
}

#searchbar
{
    font-size: medium;
    font-style: bold;
    height: 30px;
    width: 90%;
}

.fa-magnifying-glass{
    color: #c78c06;
    border: 1px solid #c78c06;
    padding: 8px;
    width: 20px;
}


.main-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main-banner-img{
    width: 100%;
  }

  .main-banner-wrapper{
    position: absolute;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    padding: 20px;
    line-height: 1.2;

  }
  
h1{
    font-size: 90px;  
}

.button-main-banner{
margin-right: 500px;
border: none;
background-color: #c78c06;
height: 100px;
width: 200px;
margin-top: 20px;
}



.about-us{
   background-color: #ffe6ac;
   padding: 10px;
}

.wrapper-about-us{
    margin-bottom: 10px;
}

#about-us-img{
    height: 500px;
    width: 800px;
    justify-content: center;
}

h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: bold;
}

h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.digital{
    
    padding: 10px;
    margin-top: 30px;
}

.wrapper-digital{
    background-color: #ffe6ac;
}

.button-digital-transformation{
    background-color: #222;
    color: white;
    
    height: 60px;
    width: 150px;
    margin-top: 10px;
    border:none;
    margin: 10px;
}

.digital-img{
    width: 100%;
}


.marketing{
    
    padding: 10px;
    margin-top: 30px;
}

.wrapper-marketing{
    background-color: #ffe6ac;
}

.button-marketing{
    background-color: #222;
    color: white;
    
    height: 60px;
    width: 150px;
    margin-top: 10px;
    border:none;
    margin: 10px;
}

.img-marketing{
    width: 100%;
}


.video-production{
    
    padding: 10px;
    margin-top: 30px;
}

.wrapper-video-production{
    background-color: #ffe6ac;
}

.button-video-production{
    background-color: #222;
    color: white;
    
    height: 60px;
    width: 150px;
    margin-top: 10px;
    border:none;
    margin: 10px;
}

.img-video_production{
    width: 100%;
}

.web-development{
    
    padding: 10px;
    margin-top: 30px;
}

.wrapper-web-development{
    background-color: #ffe6ac;
}

.button-web-development{
    background-color: #222;
    color: white;
    
    height: 60px;
    width: 150px;
    margin-top: 10px;
    border:none;
    margin: 10px;
}

.img-web-development{
    width: 100%;
}

.print{
    
    padding: 10px;
    margin-top: 30px;
}

.wrapper-print{
    background-color: #ffe6ac;
}

.button-print{
    background-color: #222;
    color: white;
    
    height: 60px;
    width: 150px;
    margin-top: 10px;
    border:none;
    margin: 10px;
}

.img-print{
    width: 100%;
}
    .our-vision{
        position: relative;
    }

    .img-our-vision{
    width: 100%;
    height: 300px;
    }
/* 
    .wrapper-our-vision{
        position: relative;
        color: white;
        padding-left: 20px;
        bottom: 200px;
        line-height: 30px;
    } */

    .button-our-vision{

    background-color: #162a43;
    color: white;
    border: 10px solid red ;
    height: 60px;
    width: 150px;
    margin-top: 10px;
    border:none;
    margin: 10px;
    }

    .our-team{
       margin: auto;
    }

    .team-member-one{
    text-align: left;
    background-color: #ffe6ac;

    }

    .img-john{
    width: 100%;
    }

    #john-title{
        margin-top: 5px;
        margin-left:5px;
        font-size: 30px;
        font-weight: bold;
    }

    #john-sub-title{
    margin-top: 5px;
    margin-left:5px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    }

    hr { 
        width:100%; 
        height:3px; 
        background-color: #c78c06; 
        border: none;
    }

    .our-team{
        margin: auto;
     }
 
     .team-member-two{
        margin-top: 10px;
     text-align: left;
     background-color: #ffe6ac;
 
     }
 
     .img-bob{
     width: 100%;
     }
 
     #bob-title{
         margin-top: 5px;
         margin-left:5px;
         font-size: 30px;
         font-weight: bold;
     }
 
     #bob-sub-title{
     margin-top: 5px;
     margin-left:5px;
     margin-bottom: 0;
     font-size: 15px;
     font-weight: bold;
     }

     #contact-us{
        margin-top: 40px;
        font-weight: bolder;
     }

     #msg{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
     }

     form{
         padding: 0;
     }
    
     /* I made class of form-group for all text fields to give margin after them */
     .form-group {
        margin-bottom: 10px;
      }
      
     /* It sets font weight and margins for the labels above the text*/
     .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
    /* This targets the input types directly and customizes them */
      input[type="text"],input[type="email"]
          {
            width: 100%;
            padding: 10px;
            border: solid 1px #ccc;
            resize: vertical;
          }
          /* It sets and expands the "your message" text box vertically */
          .message{
            width: 300px;
            height: 150px;
            font-size: 18px;
            background-color: #f9f9f9;
            padding: 10px;
          }
          /* It stylizes the submit button on the bottom of the form*/
          .submit{
            margin-top:15px ;
            padding: 10px;
           background-color:black;
           color: #c78c06;
        }

        .schedule{
            margin-top: 30px;
        }

        #schedule{
            font-size: 30px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #ffe6ac;
        }

       