body{
    font-family:'Segoe UI';
    font-size: 18px
}
header, footer{
    background-color:#BCD2EE;
}
.site-title{
    color:#D7263D ;
}
#my-image{
    box-shadow: 0 0 2px 1px black;
}
ol{
    list-style-type: square;
}
ol :nth-child(odd) {
    background-color: #FC9E4F;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    background-color:#F9EA9A;
    border: 1px solid black ;
}
nav a:hover{
    background-color: #40BCD8;
}