*{
    box-sizing: border-box;
}

body{
    background-color: #aad4cf;
}

.wrapper{
    margin:200px auto;
    width: 1024px;
    height: 45%;
    background-color: #d4e9e7;
}

header{
    position: relative;
    text-align: center;
}

header h1 {
    font-weight: normal;
    color: #ffffff;
    font-size: 55px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 3;  
}

main{
    margin: 20px;
}

nav{
    padding:0px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
nav ul li{
    float: left;
    width: 33.33%;
    text-align: center;
    position: relative;
    font-weight: normal;
    
}

.story::before,
.story::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: black;
}

.story::before {
    left: 0;
  }
  
  .story::after {
    right: 0;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    display: block;
    padding: 10px 0;
  }

  h2{
    font-size: 31px;
    font-weight: 600;
  }

  main article img{
     
    float: left;
    width: 20%;
    margin-right: 15px;
    margin-bottom: 15px;
}

.p-float{
    clear: left;
}