*{
    box-sizing: border-box;
}

body{
    background-color: #aad4cf;
}

.wrapper{
    margin:200px auto;
    width: 1024px;
    height: 45%;
    background-color: #d4e9e7;
}

header{
    position: relative;
    text-align: center;
}

header h1 {
    font-weight: normal;
    color: #ffffff;
    font-size: 55px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 3;  
}

main{
    margin: 20px;
}

nav{
    padding:0px;
}